.product-list {
    background: white;
    position: absolute;
    top: 0;
    /* right: 0; */
    
  }
  .budget {
      text-align: center;
      width: auto;
    }
div {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 300px;
}